
  <div class="panel panel-default">
    <div class="panel-heading">Prescriber & Resident Detail</div>
    <div class="panel-body">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <table border="1">
            <tr>
              <td colspan="2">Prescriber</td>
            </tr>
            <tr>
              <td>
                NPI :
              </td>
              <td>
                value
              </td>
            </tr>
          </table>
        </mat-grid-tile>
        <mat-grid-tile>
          <table border="1">
            <tr>
              <td colspan="2">Resident</td>
            </tr>
            <tr>
              <td class="right">
                File Id :
              </td>
              <td class="left">
                value
              </td>
            </tr>
          </table>

        </mat-grid-tile>

      </mat-grid-list>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </div>

